<a href="https://colab.research.google.com/github/MachineLearnia/Python-tutoriel/blob/master/07%20-%20Built-in%20Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Functions
Python est un langage de programmation qui offre un large éventail de fonctions intégrées (built-in functions) pour simplifier le développement. Ces fonctions sont toujours disponibles et peuvent être utilisées sans avoir besoin d'importer des modules supplémentaires. Voici une présentation détaillée des principales fonctions intégrées de Python, y compris des exemples d'utilisation pour chacune d'elles.

- Fonctions de bases : **abs(), round(), max(), min(), len(), sum(), any(), all()**
- Conversions de types de variables: **int() str(), float(), type()**
- Conversions de structures de données: **list(), tuple()**
- Conversions binaires (moins utile en machine learning): **bin(), oct(), hex()**
- Fonction **input()**
- Fonction **format()** (f-string)
- Fonction **open()**

## 1. Fonction de bases
Ces fonctions sont essentielles pour manipuler et transformer des données dans vos programmes.

**1.1. abs() :**
La fonction **abs()** renvoie la valeur absolue d'un nombre, qu'il soit entier ou à virgule flottante.

Syntaxe : **abs(x)**

In [7]:
# abs()
print(abs(-5))     # Sortie : 5
print(abs(3.14))   # Sortie : 3.14
print(abs(-2.5))   # Sortie : 2.5

5
3.14
2.5

**1.2. round() :**
La fonction **round()** arrondit un nombre à virgule flottante à un nombre spécifié de chiffres après la virgule.

Syntaxe : **round(x, n)** où n est le nombre de décimales souhaitées.

In [8]:
# round()
print(round(3.14159, 2))  # Sortie : 3.14
print(round(2.718, 1))    # Sortie : 2.7
print(round(2.5))         # Sortie : 2
print(round(3.5))         # Sortie : 4

3.14
2.7
2
4

**1.3. max() et min() :**
Les fonctions **max()** et **min()** renvoient respectivement la plus grande et la plus petite valeur d'une séquence.

Syntaxe :
* **max(iterable, [, key, default])**
* **min(iterable, [, key, default])**

In [9]:
# Listes
print(max([1, 2, 3, 4, 5]))  # Sortie : 5
print(min([1, 2, 3, 4, 5]))  # Sortie : 1

# Chaînes de caractères (ordre lexicographique)
print(max("python"))         # Sortie : 'y'
print(min("python"))         # Sortie : 'h'

# Avec plusieurs arguments
print(max(1, 2, 3))          # Sortie : 3
print(min(1, 2, 3))          # Sortie : 1

5
1
y
h
3
1

**1.4. len() :**
La fonction **len()** renvoie la longueur (le nombre d'éléments) d'un objet tel qu'une liste, une chaîne de caractères, un tuple, etc.

Syntaxe : **len(s)**

In [10]:
# Listes
print(len([1, 2, 3, 4, 5]))  # Sortie : 5

# Chaînes de caractères
print(len("Python"))         # Sortie : 6

# Tuples
print(len((1, 2, 3)))        # Sortie : 3

5
6
3

**1.5. sum() :**
La fonction **sum()** renvoie la somme des éléments d'un itérable (par exemple, une liste ou un tuple).

Syntaxe : **sum(iterable, /, start=0)**

In [11]:
# Listes
print(sum([1, 2, 3, 4, 5]))    # Sortie : 15

# Tuples
print(sum((1.5, 2.5, 3.5)))    # Sortie : 7.5

# Utiliser un paramètre start
print(sum([1, 2, 3], 10))      # Sortie : 16 (10 + 1 + 2 + 3)

15
7.5
16

**1.6. any() et all() :**
La fonction **any()** renvoie True si au moins un des éléments de l'itérable est True. Sinon, elle renvoie False.

La fonction **all()** renvoie True si tous les éléments de l'itérable sont True. Sinon, elle renvoie False.

Syntaxe : **any(iterable), all(iterable)**

In [12]:
# any()
print(any([False, True, False]))  # Sortie : True
print(any([False, False, False])) # Sortie : False

# all()
print(all([True, True, True]))    # Sortie : True
print(all([True, False, True]))   # Sortie : False

True
False
True
False

## 2. Fonction de conversion
Les fonctions de conversion permettent de convertir des données d'un type à un autre.

**2.1. int() :**
Convertit une chaîne de caractères ou un nombre flottant en entier.

Syntaxe : **int(x, base=10)**

In [13]:
# Conversion de chaîne de caractères
print(int("123"))   # Sortie : 123

# Conversion de nombre flottant
print(int(12.34))   # Sortie : 12

# Conversion avec une base (nombre binaire)
print(int("1010", 2))  # Sortie : 10

123
12
10

**2.2. str() :**
Convertit un nombre ou un autre objet en chaîne de caractères.

Syntaxe : **str(x)**

In [14]:
# Conversion d'un entier
print(str(123))      # Sortie : '123'

# Conversion d'un flottant
print(str(3.14))     # Sortie : '3.14'

# Conversion d'une liste
print(str([1, 2, 3]))  # Sortie : '[1, 2, 3]'

123
3.14
[1, 2, 3]

**2.3. float() :**
Convertit une chaîne de caractères ou un nombre entier en flottant.

Syntaxe : **float(x)**

In [15]:
# Conversion de chaîne de caractères
print(float("3.14"))  # Sortie : 3.14

# Conversion d'un entier
print(float(10))      # Sortie : 10.0

3.14
10.0

**2.4. type() :**
Renvoie le type de l'objet.

Syntaxe : **type(x)**

In [16]:
# Type d'un entier
print(type(123))         # Sortie : <class 'int'>

# Type d'une chaîne de caractères
print(type("Python"))    # Sortie : <class 'str'>

# Type d'une liste
print(type([1, 2, 3]))   # Sortie : <class 'list'>

<class 'int'>
<class 'str'>
<class 'list'>

## 3. Conversions de Structures de Données

**1. list() :**
Convertit un itérable (comme une chaîne de caractères, un tuple, etc.) en une liste.

Syntaxe : **list(iterable)**

In [17]:
# Conversion d'une chaîne de caractères
print(list("Python"))     # Sortie : ['P', 'y', 't', 'h', 'o', 'n']

# Conversion d'un tuple
print(list((1, 2, 3)))    # Sortie : [1, 2, 3]

# Conversion d'un ensemble
print(list({1, 2, 3}))    # Sortie : [1, 2, 3] (l'ordre peut varier)

['P', 'y', 't', 'h', 'o', 'n']
[1, 2, 3]
[1, 2, 3]

**2. tuple() :**
Convertit un itérable en un tuple.

Syntaxe : **tuple(iterable)**

In [18]:
# Conversion d'une liste
print(tuple([1, 2, 3]))   # Sortie : (1, 2, 3)

# Conversion d'une chaîne de caractères
print(tuple("Python"))    # Sortie : ('P', 'y', 't', 'h', 'o', 'n')

(1, 2, 3)
('P', 'y', 't', 'h', 'o', 'n')

## 3. La fonction **input()**
Cette fonction est tres utile pour demander a l'utilisateur du programme d'entrer une valeur dans votre programme

In [19]:
age = input('quel age avez-vous ?')

quel age avez-vous ?10

In [20]:
type(age) # age est de type string. il faut penser a le convertir si on désire faire un calcul avec

str

## 4. Conversions Binaires
**4.1. bin() :**
Convertit un nombre entier en sa représentation binaire sous forme de chaîne de caractères, précédée de 0b.

Syntaxe : **bin(x)**

In [21]:
print(bin(10))  # Sortie : '0b1010'
print(bin(255)) # Sortie : '0b11111111'

0b1010
0b11111111

**4.2. oct() :**
Convertit un nombre entier en sa représentation octale sous forme de chaîne de caractères, précédée de 0o.

Syntaxe : **oct(x)**

In [22]:
print(oct(10))  # Sortie : '0o12'
print(oct(255)) # Sortie : '0o377'

0o12
0o377

**4.3. hex() :**
Convertit un nombre entier en sa représentation hexadécimale sous forme de chaîne de caractères, précédée de 0x.

Syntaxe : **hex(x)**

In [23]:
print(hex(10))  # Sortie : '0xa'
print(hex(255)) # Sortie : '0xff'

0xa
0xff

## 4. La fonction **format()** f-strings
Les f-strings permettent d'incorporer des expressions directement à l'intérieur des chaînes de caractères.

Syntaxe : **f"texte {expression}"**

In [24]:
# Variables
nom = "Alice"
age = 30

# Formatage avec f-string
message = f"Bonjour, {nom}. Vous avez {age} ans."
print(message)  # Sortie : Bonjour, Alice. Vous avez 30 ans.

# Calculs et expressions dans les f-strings
nombre = 5
print(f"Le double de {nombre} est {nombre * 2}.")  # Sortie : Le double de 5 est 10.

Bonjour, Alice. Vous avez 30 ans.
Le double de 5 est 10.

## 5. Fonction input()
La fonction **input()** lit une ligne de l'entrée standard et renvoie une chaîne de caractères.

Syntaxe : **input(prompt)**

In [25]:
nom = input("Quel est votre nom ? ")
print("Bonjour, " + nom + "!")

Quel est votre nom ? Doowensky
Bonjour, Doowensky!

## 6. La fonction **open()**
La fonction **open()** est utilisée pour ouvrir un fichier et renvoie un objet fichier. Il est couramment utilisé pour lire, écrire ou modifier des fichiers.

Syntaxe : **open(file, mode)**

**file :** le nom ou le chemin du fichier à ouvrir.
**mode :** le mode dans lequel ouvrir le fichier
* **'r'** pour lire
* **'w'** pour écrire
* **'a'** pour ajouter
* **'b'** pour mode binaire.

In [26]:
import os
from pathlib import Path

# Lecture d'un fichier texte
with open("data/fichier.txt", "r") as fichier:
    contenu = fichier.read()
    print(contenu)

Bonjour, monde!

In [27]:
# Écriture dans un fichier texte
with open("data/fichier.txt", "w") as fichier:
    fichier.write("Bonjour, monde!")

Dans la pratique, on écrit plus souvent **with open() as f** pour ne pas avoir a fermer le fichier une fois le travail effectué :

In [28]:
with open('fichier.txt', 'r') as f:
    print(f.read())

Bonjour, monde!

## Exercice Complet : Gestion d'une Liste de Notes d'Étudiants
Créer un programme Python qui gère une liste de notes d'étudiants. Le programme doit permettre à l'utilisateur d'ajouter des notes, de les manipuler, et d'enregistrer les résultats dans un fichier.

1.   **Étapes :Saisie des Notes :**
* Demandez à l'utilisateur de saisir le nombre d'étudiants.
* Pour chaque étudiant, demandez à l'utilisateur de saisir une note (un nombre flottant).

2. **Calcul des Statistiques :**

* Convertissez les notes en une liste.
Utilisez les fonctions max(), min(), sum(), len() pour calculer le maximum, le minimum, la somme totale, et la moyenne des notes.
Arrondissez la moyenne à deux décimales avec la fonction round().

3. **Conversion et Manipulation :**

* Convertissez la liste de notes en un tuple.
Convertissez le tuple de notes en une chaîne de caractères où chaque note est séparée par une virgule.

4. **Interaction avec l'Utilisateur :**

* Affichez les statistiques calculées à l'aide de la fonction format() pour un affichage clair.
* Demandez à l'utilisateur s'il souhaite enregistrer les résultats dans un fichier. Si oui, créez un fichier resultats.txt et écrivez les statistiques et les notes dans ce fichier.

5. **Lecture des Résultats :**

* Ouvrez le fichier resultats.txt en mode lecture et affichez son contenu.

In [29]:
# Étape 1 : Saisie des Notes
n_etudiants = int(input("Combien d'étudiants ? "))

notes = []
for i in range(n_etudiants):
    while True:
        try:
            note = float(input(f"Entrez la note de l'étudiant {i + 1} : "))
            notes.append(note)
            break
        except ValueError:
            print("Veuillez entrer un nombre flottant valide.")

# Étape 2 : Calcul des Statistiques
max_note = max(notes)
min_note = min(notes)
somme_notes = sum(notes)
moyenne_notes = round(somme_notes / len(notes), 2)

# Étape 3 : Conversion et Manipulation
notes_tuple = tuple(notes)
notes_str = ", ".join(map(str, notes_tuple))

# Étape 4 : Interaction avec l'Utilisateur
print(f"\nStatistiques des notes :")
print(f"Note maximale : {max_note}")
print(f"Note minimale : {min_note}")
print(f"Somme des notes : {somme_notes}")
print(f"Moyenne des notes : {moyenne_notes}")

enregistrer = input("\nSouhaitez-vous enregistrer les résultats dans un fichier ? (oui/non) ").strip().lower()
if enregistrer == "oui":
    with open("data/resultats.txt", "w") as fichier:
        fichier.write(f"Note maximale : {max_note}\n")
        fichier.write(f"Note minimale : {min_note}\n")
        fichier.write(f"Somme des notes : {somme_notes}\n")
        fichier.write(f"Moyenne des notes : {moyenne_notes}\n")
        fichier.write(f"Liste des notes : {notes_str}\n")

# Étape 5 : Lecture des Résultats
try:
    with open("data/resultats.txt", "r") as fichier:
        contenu = fichier.read()
        print("\nContenu du fichier 'resultats.txt' :")
        print(contenu)
except FileNotFoundError:
    print("\nLe fichier 'resultats.txt' n'existe pas encore.")

Combien d'étudiants ? 3
Entrez la note de l'étudiant 1 : 15
Entrez la note de l'étudiant 2 : 17
Entrez la note de l'étudiant 3 : 13

Statistiques des notes :
Note maximale : 17.0
Note minimale : 13.0
Somme des notes : 45.0
Moyenne des notes : 15.0

Souhaitez-vous enregistrer les résultats dans un fichier ? (oui/non) oui

Contenu du fichier 'resultats.txt' :
Note maximale : 17.0
Note minimale : 13.0
Somme des notes : 45.0
Moyenne des notes : 15.0
Liste des notes : 15.0, 17.0, 13.0